{% extends 'base.html' %}

{%load bootstrap4%}
{%load static%}
{{block.super}}
{%block content%}

{{form.media}}



<!-- Navigation -->
{% if user.is_authenticated %}



<!-- About -->

<body>


<div class="masthead " id="about">
    <div class="container text-center my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div >
                    <img src="{{project.image.url}}" alt="image" height="80%;" width="70%;">
                </div>
                <h2>Posted:{{post.pub_date}} by {{project.editor.username}}</h2>

                <h2>Title:{{project.title}}</h2>
                <h2>Description:{{post.description|safe}}This post can be viewed at
                    <a href="">{{post.link}}</a>.</h2>
                <br>

                
            </div>

        </div>

    </div>

</div>
</body>
{%endif%}
{%endblock%}