{%extends 'base.html'%}
{%load bootstrap4%}
{%load static%}


{% block content %}
<!-- Navigation -->
{% if user.is_authenticated %}



<div class="container h-100">
    <div class="row h-100">
        <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
                <h1 class="mb-5">
                </h1>
            </div>
        </div>
        <div class="col-lg-7 my-auto">
            <div class="header-content ">

                {%if profile%}


                {% if user.is_authenticated %}
                {%for profile in profile%}

                <h1>{{profile.editor.username}} Profile</h1>
                <div>
                    <img src="{{profile.profile_photo.url}}" class="img-fluid" style="height:300px;width:300px;">
                </div>

                <div>
                    <h3>{{user.username}} bio: {{profile.bio}}</h3>
                </div>

                <div>
                    <h3>Contact : {{profile.contact}}</h3>
                </div>


                {%endfor%}

                {%else%}
                <div>
                    <h1 class="text-center">{{user.username}} has no profile</h1>
                </div>



                {%endif%}

                {%endif%}

                {%if posts%}
                <h1>{{posts.editor.username}} Posts</h1>
            </div>
            <h2>Posted:{{posts.pub_date}}</h2>
            <h2>Title:{{posts.title}}</h2>
            <h2>Description: {{posts.description|safe}}</h2>
            <a href="{{posts.link}}">Post Link: {{post.link}}</a>

            <div>
                <img src="{{posts.image.url}}" alt="image" height="300px;" width="300px;">
            </div>

            <a href="{%url 'post' posts.id%}">View more about this post</a>

        </div>
        {%endif%}

    </div>

</div>
<!-- empty div -->
<div class="col-md-4"></div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{%endif%}
{%endblock%}